[Unit]
Description=Thermoflask Web API
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 ~/thermoflask_api/app.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target