[Unit]
Description=Thermoflask Web API
After=network.target
Conflicts=getty@tty1.service

[Service]
User=user
Group=Gunicorn
WorkingDirectory=~/thermoflask
Environment="PATH=~/thermoflask/thermoflaskenv/bin"
ExecStart=/usr/bin/python3 ~/thermoflask_api/app.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target